<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
</head>
<body>
  <div id="app"> <!-- 仮装DOM -->
  <!-- 配列 -->
  <!-- 値だけ表示(value) -->
    <ul>
      <li v-for="member in members">
        {{member}}
      </li>
    </ul>
    
<!-- 順番も表示(value,index) -->    
    <ul>
      <li v-for="(member, index) in members">
        {{ index}} {{member}}
      </li>
    </ul>

<!--     オブジェクト(value, key, index) -->
    <ul>
      <li v-for="(value, key, index) in book">
        {{index}} {{key}} {{ value }}
      </li>
    </ul>

<!-- 複数のオブジェクト -->
    <table>
      <thaed>
        <tr>
          <th>ID</th>
          <th>タイトル</th>
          <th>著者名</th>
          <th>URL</th>
        </tr>
      </thaed>
      <tbody>
        <tr v-for="book in books" :key="book.id">
          <td>{{ book.id }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.url }}</td>
        </tr>
      </tbody>
    </table>

  </div>  
  <script>
    let app = new Vue({
      el: '#app', // 仮装DOM 
      data(){ // 初期設定
        return {
          members: ['本田','香川','長友'],
          book: {
            title: 'タイトル',
            author: '著者名',
            url: 'https://google.com'
          },
          books:[
            {
            id: 1,
            title: 'タイトル',
            author: '著者名',
            url: 'https://google.com'},
            {
            id: 2,
            title: 'タイトル2',
            author: '著者名2',
            url: 'https://google.com'
            },
            {
            id: 3,
            title: 'タイトル3',
            author: '著者名3',
            url: 'https://google.com'
            }
          ]
        }
      }
    })
  </script>
</body>
</html>