<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
</head>
<body>
  <div id="app"> <!-- 仮装DOM -->
    <div v-show="isDisplay">表示</div>
    <div v-show="!isDisplay">falseになってます</div>

    <div v-if="isDisplay">ifで表示</div>

    
    <div v-if="signal === 'red'">赤</div>
    <div v-else-if="signal === 'yellow'">黄色</div>
    <div v-else-if="signal === 'blue'">青</div>
    <div v-else>全て違います</div>

  </div>  

  <script>
    let app = new Vue({
      el: '#app', 
      data(){ // 初期設定
        return {
          isDisplay: true,
          signal: 'red'
        }
      }
    })
  </script>
</body>
</html>