<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .error{
      color:red;
    }
  </style>
</head>
<body>
  <div id="app">
    <p v0if="errors.length">
      <ul>
        <li class="error" v-for="error in errors">{{ error }}</li>
      </ul>
    </p>
    <form @submit.prevent="validate">  <!-- preventで再読み込みの停止 -->
      氏名
      <input type="text" v-model="yourName"> <!-- computedで監視している値 -->
      <br>
      <p :class="{error: hasError.yourName}">{{ contact.yourName.length }}/20</p> <!-- 文字数をリアルタイム表示 :classで複数紐付け -->
      <p v-show="hasError.yourName" class="error">氏名は20文字以内で入力してや</p> <!-- trueだったら -->
      電話番号
      <input type="tel" v-model.number="contact.tel">
      <br>
      メールアドレス
      <input type="email" v-model.lazy="contact.email">
      <br>
      性別
      <input type="radio" value="male" v-model="contact.gender">男性
      <input type="radio" value="female" v-model="contact.gender">女性
      <input type="radio" value="other" v-model="contact.gender">その他
      <br>
      年齢
      <select v-model="contact.age">
        <option disabled value="">年齢を選択してください</option> <!-- disabledでiOS対応 -->
        <option>10代</option>
        <option>20代</option>
        <option>30代</option>
        <option>40代</option>
      </select>
      <br>
      メッセージ
      <textarea v-model="contact.message"></textarea>
      <br>
      このサイトを知った理由
      <input type="checkbox" value="webサイト" v-model="contact.attracts">webサイト
      <input type="checkbox" value="チラシ" v-model="contact.attracts">チラシ
      <input type="checkbox" value="そのほか" v-model="contact.attracts">そのほか
      <br>
      注意事項
      <input type="checkbox" v-model="contact.caution">
      <br>
      <input type="submit" value="送信">

    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>

  <script>
    // v-model: v-bindやv-onよりもシンプルに作れる
    let app = new Vue({
      el : '#app',
      data(){
        return{
          contact: {
            yourName: '',
            tel: '',
            email: '',
            gender:'',
            age:'',
            message:'',
            attracts:[],
            caution: false
          },
          errors: [],
          hasError:{ // エラーになったらtrue
            yourName: false
          }
        }
      },
      methods:{ //clickした時点で呼ばれる
        validate(){
          // dataのなかのerrorsを初期化
          this.errors = []
          if(!this.contact.caution){
            this.errors.push('注意事項にテェックを入れてね')
          }
          if(!this.contact.gender){
            this.errors.push('性別を選択してね')
          }
          if(!this.contact.yourName){
            this.errors.push('指名は必須だよ')
          } else if(this.contact.yourName.length > 20){
            this.errors.push('氏名は20字以内で入力よろぴく')
          }
          if(!this.errors.length){ // エラーがなかったら
            console.log('送信可能です')
          }

        }
      },
      computed:{ //監視
        yourName:{
          get(){
            // 値をそのまま返す
            return this.contact.yourName
          },
          set(value){ // 引数に新しい値
            //console.log(value)
            if(value.length <= 20){
              this.hasError.yourName = false
            } else{ //20字以上 エラーになる
              this.hasError.yourName = true
            }
            return this.contact.yourName = value

          }
        }
      }
      
    })
  </script>
</body>
</html>